<section class="hero" id="home">

  <div class="overlay">

    <div class="container hero-content">



      <div class="rating">
        <span class="stars">★★★★★</span>
        <span>{{ heroData.rating }}</span>
      </div>

      <!-- Heading -->

      <h1>
        {{ heroData.titleLine1 }}
        <br>
        {{ heroData.titleLine2 }}

        <span class="highlight">
          {{ heroData.highlight }}
        </span>
      </h1>

      <!-- Subtitle -->

      <p>
        {{ heroData.subtitle }}
      </p>


      <div class="hero-image-wrapper">



        <img
          src="images/side-left.png"
          alt="left-icons"
          class="side-left">


        <img
          src="images/hero-laptop.png"
          alt="Laptop"
          class="hero-image">

      

        <img
          src="images/side-right.png"
          alt="right-icons"
          class="side-right">

      </div>

    </div>

  </div>

</section>