<section
  id="contact"
  class="contact-section">

  <div class="contact-container">

    <div class="contact-wrapper">



      <div class="contact-left">

        <h2>
          Ready to Build Next-Level Custom Digital Solutions?
        </h2>

        <p>
          Please fill in the form and let's chat understand
          how we can help you better
        </p>

        <div class="contact-card">

          <span>Call Us</span>

          <h3>+91 9015457012</h3>

          <small>INDIA</small>

        </div>

        <div class="contact-card">

          <span>Call Us</span>

          <h3>+1-585-566-2070</h3>

          <small>UNITED STATES</small>

        </div>

      </div>



      <div class="contact-right">

        <h2>
          Get Answers to your Questions
        </h2>

        <form>

          <div class="row">

            <input
              type="text"
              placeholder="First name*">

            <input
              type="text"
              placeholder="Last name*">

          </div>

          <div class="phone-row">

  <div class="country-box">

    🇮🇳

  </div>

  <input
    type="text"
    placeholder="+91">

</div>
          <input
            type="email"
            placeholder="Business email*">

          <select>

            <option>
              Services*
            </option>

            <option>
              Shopify Development
            </option>

            <option>
              BigCommerce Development
            </option>

            <option>
              Ecommerce Design
            </option>

          </select>

          <textarea
            placeholder="Message*"></textarea>

          <button
            type="submit"
            class="submit-btn">

            let's connect →

          </button>

        </form>

      </div>

    </div>

  </div>

</section>