<footer class="footer">

  <div class="footer-container">



    <div class="social-icons">

      <a href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="#">
        <i class="fa-brands fa-pinterest"></i>
      </a>

      <a href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="#">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>

    </div>

    <!-- Back To Top -->

    <div class="back-top-wrapper">

      <a href="#home" class="back-top-btn">

        Back to top

        <i class="fa-solid fa-chevron-up"></i>

      </a>

    </div>



    <div class="copyright">

      ©2026 Kushel Digi. All Rights Reserved.

    </div>

  </div>

</footer>